@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

:root {
    --Negro:     rgb(22, 22, 20);
    --Blanco:    #f8f8f8;
    --Blanco2:   #f3f3f3;
    --Gris:      #292626;
    --Naranja:   #ec7717;
    --Rojo:      #d33c28e5;
    --Rojo2:     #f0291b;
}

* {
   max-width: 100%;;
}

html {
    scroll-padding-top: 20rem;
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    zoom: 0.9;
    background: url(img/background.jpeg), no-repeat;
    background-size: cover;
    color: var(--Negro);
    margin: 0;
}

header { 
    box-shadow: 0rem 0.1rem 1.5rem var(--Gris);
    border-radius: 0rem 0rem 1rem 1rem;
    background: var(--Blanco2);
    text-align: center;
    position: fixed; 
    padding: 0.5rem; 
    height: 6rem;
    width: 100%;
    top: 0;   
    z-index: 4;
}

a {
    text-decoration: none;
}

h1 { 
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: bold;
    display:inline-flex;
    font-size: 4rem;
    cursor: pointer;
    margin: 1rem;
    background: -webkit-repeating-linear-gradient(var(--Naranja), var(--Rojo));
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-stroke-width: 1px ;
    -webkit-text-stroke-color: #8f5454;
    transition: all 0.3s ease-in-out;
}

h1:hover {
    text-shadow: 0.2rem 0.4rem 0.8rem var(--Naranja);
    transform: translateY(-0.5rem);
}

main {
    width: 100%;
    font-family: "Ubuntu", sans-serif;
}

.divMain {
    max-width: 80rem; 
    padding: 0 2rem;
    margin: auto;
    margin-top: 18rem;
}

.insertInfo {
    box-shadow: 0 0.1rem 1.5rem var(--Gris);
    background: var(--Blanco2);
    border-radius: 3.5rem;
    padding: 3rem;
    margin: 2rem;
}

label { 
    padding: 0rem 0.4rem 0rem 0.4rem;
    background-color: var(--Blanco2);
    color: var(--Naranja);
    position: relative;
    font-size: 2.1rem;
    font-weight: 800;
    top: 1.2rem;
    margin: 0;
    margin-left: 1rem;
    transition: all 0.3s ease-in-out;
    z-index: 2;
}

.input {
    box-shadow: 0 0.1rem 1.5rem #a7a6a6ad;
    border: 4px solid var(--Naranja);
    background: var(--Blanco2);
    border-radius: 0.8rem;
    font-size: 1.8em; 
    display: flex;
    flex-direction: column;
}

#title {
    padding: 0.3rem 1rem 0.3rem 1rem;
    margin-bottom: 2.6rem;
    color: #2b2b2bec;
    font-weight: bold;
    height: 3.7rem;
    width: 50%;
    transition: all 0.2s ease-in-out;
    z-index: 1;
}

#containText {
    padding: 1.2rem 0.6rem 0.2rem 0.6rem;
    text-align: center;
    width: 86%;
    transition: all 0.2s ease-in-out;
    z-index: 1;
}

#text {
    background: var(--Blanco2);
    scrollbar-width: none;
    color: #0c0c0cec;
    height: 12.6rem;
    width: 96.28%;
    border: none;
    resize: none;
    font-size: 1.9rem; 
}

#title:focus {
    padding: 0.8rem 1.4rem 0.8rem 1.4rem;
    border: 4px solid var(--Rojo);
    outline: none;  
    filter: saturate(1);
}   

#containText:has(#text:focus){
    padding: 1.6rem 0.8rem 1.2rem 0.8rem;
    border: 4px solid var(--Rojo);
    filter: saturate(1);
}

#text:focus {
    outline: none;  
}

.insertInfo:has(#title:focus) #labelTi{
    color: var(--Rojo);
}

.insertInfo:has(#text:focus) #labelTe{
    color: var(--Rojo);
}

.containButton {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 2rem;
}

.button {
    background: -webkit-repeating-linear-gradient( var(--Rojo), var(--Naranja),  var(--Rojo));
    box-shadow: 0 0.1rem 1.5rem #474747ad;
    border: 0px solid var(--Gris);
    border-radius: 0.8rem;
    color: var(--Blanco2);
    margin-top: 11rem;
    font-size: 3.6rem;
    height: 4.3rem;
    width: 4.5rem;
    transition: all 0.2s ease-out;
}

.button:hover {
    filter: saturate(1.2);
    box-shadow: 0 0.1rem 1.5rem #474747ad;
}

.button:active {
    background: -webkit-repeating-linear-gradient( var(--Rojo2), var(--Rojo),  var(--Rojo2));
    filter: saturate(1);
}

.containButton:has(#text:focus) button{
    margin-top: 12rem;
}



