#containtActivity {
    border-left: 2.5px solid #969191;
    background: #e2e2e2;
    
    height: 100%;
    width: 50.5%;
    margin: 0;

    text-align: center;

    display: flex;
    flex-direction: column;
    overflow-y: auto; 
    scrollbar-width: none;
}

#titleSection {
    display: inline-flex;
    justify-content: center;

    box-shadow: 0 0.1rem 1.5rem var(--Gris);
    background: var(--Blanco2);
    border-radius: 3.5rem;

    min-width: 50rem;

    margin: 1.7rem 0rem 1.2rem 0rem;
    padding: 0.2rem;
}

#spantitle {
    letter-spacing: 0.3rem;
    font-size: 3rem;

    background: 
    -webkit-repeating-linear-gradient(var(--Rojo), var(--Rojo3));
    -webkit-text-fill-color: transparent;
    background-clip: text;
    transition: all 0.3s ease-in-out;
}

#spantitle:hover {
    text-shadow: 0.2rem 0.4rem 0.8rem #d84e4e7c;
}

.cardsActivity {
    box-shadow: 0 0.1rem 1.5rem var(--Gris);
    background: var(--Blanco2);
    border-radius: 3.5rem;
    text-align: start;
    padding: 1.5rem;
    margin: 2rem;
}

.cardsActivity div{
    display: flex;
    justify-content: space-between;
    align-items: center;           
    width: 100%;
    gap: 5rem;
}

.titleActivity {
    display: inline;
    font-size: 2.3rem;
    text-decoration: underline;

    margin: 0;
    margin-bottom: 0.7rem; 

    background: 
    -webkit-repeating-linear-gradient(var(--Rojo2), var(--Rojo));
    -webkit-text-fill-color: transparent;
    background-clip: text;

    word-break: break-word;
}

.description {
    overflow-wrap: break-word;
    white-space: pre-line;
    border: 4px solid var(--Rojo3);
    border-radius: 1.5rem;
    font-weight: bold;
    font-size: 1.9rem; 
    padding: 0.7rem;

    min-height: 7rem;
    width: 90%;
    max-width: 60rem;

    transition: all 0.2s ease-in-out;
}

.buttonX {
    border-radius: 40%;
    cursor: pointer;
    height: 3.8rem;
    border: none;
    min-width: 4rem;
    transition: all 0.2s ease-out;
}

.buttonX:hover {
    filter: saturate(1.3);
}

.buttonX:active {
    filter: saturate(1);
    scale: 0.7;
}