.insertInfo {
    position: fixed;
    box-shadow: 0 0.1rem 1.5rem var(--Gris);
    background: var(--Blanco2);
    border-radius: 3.5rem;
    padding: 3rem;
    margin: 2rem;
    margin-top: 12rem;
    height: 34rem;
    min-width: 60rem;
    margin-right: 76.7rem;
}

.titleForm {
    cursor: pointer;
    user-select: none;
    font-size: 3.2rem;
    letter-spacing: 0.2rem;
    text-decoration: underline;
    margin: 1rem;
    background: -webkit-repeating-linear-gradient(var(--Naranja), var(--Rojo));
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

label { 
    padding: 0rem 0.4rem 0rem 0.4rem;
    background-color: var(--Blanco2);
    color: var(--Naranja);
    position: relative;
    user-select: none;
    font-size: 2.1rem;
    font-weight: 800;
    top: 1.2rem;
    margin: 0;
    margin-left: 1rem;
    transition: all 0.3s ease-in-out;
    z-index: 2;
}

.input {
    box-shadow: 0 0.1rem 1.5rem #a7a6a6ad;
    border: 4px solid var(--Naranja);
    background: var(--Blanco2);
    border-radius: 0.8rem;
    color: #2b2b2bec;
    font-weight: bold;
    display: flex;
    flex-direction: column;    
    z-index: 1;
}

#inputTitle {
    padding: 0.3rem 1rem 0.3rem 1rem;
    margin-bottom: 2.6rem;
    font-size: 2.1rem;
    height: 3.7rem;
    width: 60%;
    transition: all 0.2s ease-in-out;
}

#inputTitle:focus {
    padding: 0.8rem 1.4rem 0.8rem 1.4rem;
    border: 4px solid var(--Rojo);
    outline: none;  
    filter: saturate(1);
}   

.insertInfo:has(#inputTitle:focus) #labelTi{
    color: var(--Rojo);
}

.containButton {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 2rem;
    align-items: flex-end;
}

#inputDescription {
    padding: 1rem 0.7rem 0.9rem 0.8rem;
    field-sizing: content;
    scrollbar-width: none;
    min-height: 12rem; 
    width: 86%;
    height: auto;
    resize: none;
    font-size: 1.9rem; 
    transition: all 0.2s ease-in-out;
}

#inputDescription:focus{
    padding: 1.4rem 1rem 1.4rem 0.8rem;
    border: 4px solid var(--Rojo);
    filter: saturate(1);
    outline: none;  
}

.insertInfo:has(#inputDescription:focus) #labelTe{
    color: var(--Rojo);
}

.button {
    background: -webkit-repeating-linear-gradient( var(--Rojo), var(--Naranja),  var(--Rojo));
    box-shadow: 0rem 0.1rem 1.5rem #474747ad;
    color: var(--Blanco2);
    border-radius: 0.8rem;
    font-size: 3.6rem;
    user-select: none;
    cursor: pointer;
    border: none;
    height: 4.3rem;
    width: 4.5rem;
    transition: all 0.2s ease-out;
}

.button:hover {
    filter: saturate(1.2);
    box-shadow: 0 0.1rem 1.5rem #474747ad;
}

.button:active {
    background: -webkit-repeating-linear-gradient( var(--Rojo2), var(--Rojo),  var(--Rojo2));
    scale: 0.9;
    filter: saturate(1);
}
