@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

:root {
    --Negro:     rgb(22, 22, 20);
    --Blanco:    #f8f8f8;
    --Blanco2:   #f3f3f3;
    --Gris:      #292626;
    --Naranja:   #ec7717;
    --Rojo:      #d33c28e5;
    --Rojo2:     #ff4538;
    --Rojo3:     #fa542b;
}

* {
    max-width: 100%;;
}

html {
    zoom: 0.9;
    scroll-padding-top: 20rem;
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    background: url(../resource/background.jpeg) no-repeat fixed center / cover;
    color: var(--Negro);
    margin: 0;
}

a {
    text-decoration: none;
}

main {
    width: 100%;
    font-family: "Ubuntu", sans-serif;
}

.divMain {
    max-width: 80rem; 
    padding: 0 2rem;
    margin: auto;
}
