@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');


:root {
    --Negro:     rgb(22, 22, 20);
    --Blanco:    #f8f8f8;
    --Blanco2:   #f3f3f3;
    --Gris:      #292626;
    --Naranja:   #ec7717;
    --Rojo:      #d33c28e5;
    --Rojo2:     #ff4538;
    --Rojo3:     #fa542b;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-padding-top: 20rem;
    scroll-behavior: smooth;
    font-size: 62.5%;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    background: url(../resource/background.jpeg) no-repeat fixed center / cover;
    color: var(--Negro);
    margin: 0 auto;

    padding-top: 5.6rem;
    height: 100vh;
    min-width: 100vw;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: end;

    margin: auto;
    font-family: "Ubuntu", sans-serif;
}

h1,h2{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

a {
    text-decoration: none;
}