.header { 
    text-align: start;
    position: fixed; 
    top: 0; 
    left: 0;  
    right: 0;
    z-index: 10;

    background: linear-gradient(180deg,
    rgba(255, 255, 255, 0.863) 10%,
    rgb(206, 203, 203) 90%);
    box-shadow: 0rem 0.1rem 1.5rem var(--Gris);
    border-radius: 0rem 0rem 1rem 1rem;

}

.containLogo {
    margin-top: 0.6rem;
    margin-bottom: 0.3rem;
    margin-left: 6.5%;
    display: inline-flex;
    transition: all 0.3s 0.1s ease-in-out;
}

#h1 { 
    display: inline-flex;
    user-select: none;
    font-size: 3.8rem;
    cursor: pointer;
    margin: 0;

    background: 
        -webkit-repeating-linear-gradient(var(--Naranja), var(--Rojo));
        -webkit-text-fill-color: transparent;
        background-clip: text;
    transition: all 0.3s ease-in-out;
}

.logo {
    user-select: none;
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    margin: 0;
    margin-right: 0.5rem;
}