header { 
    box-shadow: 0rem 0.1rem 1.5rem var(--Gris);
    border-radius: 0rem 0rem 1rem 1rem;
    background: var(--Blanco2);
    text-align: start;
    position: fixed; 
    height: 6rem;
    width: 100%;
    top: 0;   
    z-index: 4;
}

h1 { 
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: bold;
    display: inline-flex;
    user-select: none;
    font-size: 3.8rem;
    cursor: pointer;
    margin: 0;
    margin-top: 0.72rem;
    background: -webkit-repeating-linear-gradient(var(--Naranja), var(--Rojo));
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-stroke-width: 1px ;
    -webkit-text-stroke-color: #8f5454;
    transition: all 0.3s ease-in-out;
}

header a {
    justify-content: start;
    display: inline-flex;
    margin-top: 0.2rem;
    margin-left: 12.5rem;
    transition: all 0.3s 0.1s ease-in-out;
}

header a:hover {
    filter: drop-shadow(0.2rem 0.4rem 0.4rem rgba(255, 128, 43, 0.815));
    transform: translateY(-0.3rem);
}

.logo {
    user-select: none;
    cursor: pointer;
    width: 5.5rem;
    height: auto;
    margin: 0;
}