@media screen and (max-width: 600px) {
    .header {
        padding: 0.9rem;
        text-align: center;
    }
    .containLogo {
        margin: 0;
    }

    #h1 { 
        font-size: 3.2rem;
        padding-top: 0.3rem;
    }

    body {
        /* Unificamos todo para evitar errores */
    background-image: url('../resource/background.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    
    /* ESTO ARREGLA EL FONDO EN MÓVIL */
    background-size: cover;       /* La imagen se ajusta al ancho/alto sin deformarse */
    background-attachment: fixed; /* El fondo se queda quieto al deslizar */

    /* ESTO ARREGLA EL SCROLL (DESLIZAR) */
    min-height: 100dvh;           /* Altura mínima de la pantalla */
    height: auto;
    }   

    main {
        overflow-y: auto;
        display: inline;
    }

    .titleForm {
        font-size: 2.5rem;
        letter-spacing: 0rem;
        margin: 0rem;
    }

    #inputTitle {
        width: 90%;
    }

    #containButton {
        flex-wrap:wrap;
        padding: 0rem;
    }

    #containDescription {
        min-height: 10rem; 
        max-height: 16rem;
        width: 92%;
    }
    
    #btn {
        margin: 0 auto;
    }

    .button {
        padding: 0.5rem;
    }

    .button::after {
        content: "Agregar a la Lista";
        font-size: 2.4rem;
        font-weight: 600;
        margin: 0.3rem;
        margin-top: 0.6rem;
    }

    #containtActivity {
        min-height: 100dvh;
        height: auto;
        border-left: none;
        overflow: auto;
        background: transparent;        
        width: 100%;
        margin: 0 auto;

    }

    #titleSection {
        box-shadow: 0 0.1rem 1.5rem var(--Gris);
        background: var(--Blanco2);
        border-radius: 3.5rem;
        min-width: 1rem;
        margin: 1.7rem 0rem 1.2rem 0rem;
        padding: 0.6rem 1rem;
    }

    #spantitle {
        letter-spacing: 0.3rem;
        font-size: 2.7rem;
    }
}